.product-detail {
    padding: 50px 0;

    .item {
        align-items: flex-start;

    

        img {
            width        : 100%;
            display      : block;
            height       : 300px;
            padding-right: 20px;
            object-fit: contain;
        }

        &-text {
            padding         : 30px;
            background-color: $light-gary;
            min-height      : 300px;

            &-title {
                font-weight: 700;
                font-size  : 25px;
            }

            &-rating {
                padding        : 20px 0;
                display        : flex;
                justify-content: space-between;
                align-items    : center;

                .star {
                    color    : $yellow;
                    font-size: 25px;
                }

                .rate {
                    font-size  : 14px;
                    font-weight: 300;
                }

                .count {
                    color    : $gray;
                    font-size: 14px;
                }

            }

            &-price {
                font-size: 20px;
                color    : $green;

            }

            &-desc {
                color      : $gray;
                font-family: 12px;
                padding    : 20px 0;
                font-weight: 300;
            }
        }
    }
    .similar-products{
        padding-top: 50px;
        text-align: center;
        h2{
           padding: 30px 0;
        }
    }
}